<div>
	<linechart data="data" options="options" mode="" width="1200" height="500"></linechart>
	<form name="myForm">

		<input type="datetime-local" id="exampleInput" name="input" ng-model="elektriciteit.tot"
			ng-change="datetimeChange()"
			placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2020-12-31T00:00:00" required />

		<div id="period">
			<label for="r1"><input id="r1" class="pr" type="radio" ng-model="elektriciteit.periode" value="uur" /> Uur </label>
			<label for="r2"><input id="r2" class="pr" type="radio" ng-model="elektriciteit.periode" value="3uur" /> 3 Uur </label>
			<label for="r3"><input id="r3" class="pr" type="radio" ng-model="elektriciteit.periode" value="6uur" /> 6 Uur </label>
			<label for="r4"><input id="r4" class="pr" type="radio" ng-model="elektriciteit.periode" value="12uur" /> 12 Uur </label>
			<label for="r5"><input id="r5" class="pr" type="radio" ng-model="elektriciteit.periode" value="dag" /> Dag </label>
			<label for="r6"><input id="r6" class="pr" type="radio" ng-model="elektriciteit.periode" value="week" /> Week </label>
			<label for="r7"><input id="r7" class="pr" type="radio" ng-model="elektriciteit.periode" value="maand" /> Maand </label>
			<label for="r8"><input id="r8" class="pr" type="radio" ng-model="elektriciteit.periode" value="6maand" /> 6 Maanden </label>
			<label for="r9"><input id="r9" class="pr" type="radio" ng-model="elektriciteit.periode" value="jaar" /> Jaar </label>
		</div>
	</form>
</div>